# TODO: заполните этот файл
# Документация от гитхаба: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners
# Наша страница вики по ответственным: https://uchiru2.atlassian.net/wiki/spaces/DEV/pages/3184001052

# * @uchiru/my-team
